
.info_section {
    background-color: #155263;
    color: #ffffff;
    padding-top: 60px;
    padding-bottom: 25px;
  }
  
  .info_section .info_col {
    margin-bottom: 35px;
  }
  
  .info_section .contact_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  
  .info_section .contact_nav a {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .info_section .contact_nav a i {
    font-size: 22px;
    margin-right: 10px;
  }
  
  .info_section .contact_nav a:hover {
    color: #ff6f3c;
  }
  
  .info_section h4 {
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: 600;
  }
  
  .info_section .social_box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 25px;
  }
  
  .info_section .social_box a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .info_section .social_box a:hover {
    color: #ff6f3c;
    border-color: #ff6f3c;
  }
  
  .info_section .info_form input {
    width: 100%;
    border: none;
    height: 45px;
    margin-bottom: 10px;
    padding-left: 25px;
    background-color: #eaeaea;
    outline: none;
    color: #101010;
  }
  
  .info_section .info_form button {
    width: 100%;
    display: inline-block;
    padding: 10px 45px;
    background-color: #ff6f3c;
    color: #ffffff;
    border-radius: 0px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
  }
  
  .info_section .info_form button:hover {
    background-color: #ef3e00;
  }