/*--------------------*/
/* ABOUT US */
/*--------------------*/


#mu-about {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.mu-about-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-title-area {
	display: inline;
	float: left;
	text-align: center;
	padding: 0 120px;
	width: 100%;
}

.mu-title {
	color: #1c1b1b;
	margin-bottom: 15px;
	padding: 0;
	z-index: 10;
	text-transform: capitalize;
}

.mu-about-left {
	display: inline;
	float: left;
	width: 100%;
}

.mu-about-right {
	display: inline;
	float: left;
	margin-top: 30px;
	width: 100%;
}

.why_section .box {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 45px;
    background-color:#ffcad4;
    color: #935af6;
    padding: 25px;
}

.why_section .box .img-box {
    width: 105px;
    height: 105px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.why_section .box .img-box img {
    width: 55px;
}

.why_section .box .detail-box {
    margin-top: 20px;
}

.why_section .box .detail-box h4 {
    font-weight: bold;
    font-size: 22px;
}

.why_section .box .detail-box p {
    margin-bottom: 0;
}

.why_section .box.active .img-box,
.why_section .box:hover .img-box {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}